  <mat-vertical-stepper linear="false" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Ingresa tus datos</ng-template>
        <mat-form-field>
          <input matInput placeholder="Apellidos, Nombre" formControlName="firstCtrl" [(ngModel)]="user.name" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input  matInput placeholder="No. Boleta" formControlName="firstCtrl" [(ngModel)]="user.id" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input type=""  matInput placeholder="Correo Electrónico" formControlName="firstCtrl" [(ngModel)]="user.email" required>
        </mat-form-field>
        <div>
          <button  mat-flat-button color="primary" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Selecciona tus cursos</ng-template>
        <div class="searcher">
          <div>
            <!-- <mat-form-field class="example-full-width">
              <input type="search" matInput [(ngModel)]="searchText" placeholder="Categoría">
              <mat-icon matSuffix color="accent">search</mat-icon>
            </mat-form-field> -->
            <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip
                  *ngFor="let fruit of fruits"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(fruit)">
                  {{fruit | word | titlecase}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Categoría"
                  #fruitInput
                  [formControl]="fruitCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                  {{fruit | word | titlecase}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="search" matInput [(ngModel)]="searchText" placeholder="Curso">
              <mat-icon matSuffix color="accent">search</mat-icon>
            </mat-form-field>
            <mat-list>
              <ng-container *ngFor="let cat of categories | myPipe: selectedOptions | keyvalue">
                <h2 mat-subheader>{{cat.key | word | titlecase}}</h2>
                <ng-container *ngFor="let course of cat.value | filter: searchText">
                  <mat-list-item *ngIf="course.isReady">
                    <mat-checkbox (change)="clicked(course, $event.checked)" value="{{course.title}}">{{course.title}}</mat-checkbox>
                     <!-- <p mat-line> {{folder.updated | date}} </p> estovacomentado  -->
                  </mat-list-item>
                </ng-container>
                <br>
                <br>
              </ng-container>
              <!-- <ng-container *ngFor="let cat of categories | filter: searchText | keyvalue" >
                <h2 mat-subheader>{{cat.key | word | titlecase}}</h2>
                <ng-container *ngFor="let course of cat.value">
                  <mat-list-item *ngIf="course.isReady">
                    <mat-checkbox (change)="clicked(course, $event.checked)" value="{{course.title}}">{{course.title}}</mat-checkbox>
                     <p mat-line> {{folder.updated | date}} </p> estovacomentado 
                  </mat-list-item>
                </ng-container>
                <mat-divider></mat-divider>
              </ng-container> -->
              
            </mat-list>
            
          </div>
          <!-- <ul *ngFor="let data of coursesJ | filter: searchText">
            <li>{{data.title}}</li>
          </ul> -->
          <!-- <form [formGroup]="secondFormGroup">
          <mat-list>
            <ng-container *ngFor="let cat of categories | myPipe: searchtext">
              <h1>{{cat.category}}</h1>
              <p>{{cat.courses}}</p>
              <br>
              <br>
            </ng-container> -->
            <!-- <ng-container *ngFor="let cat of categories | filter: searchText | keyvalue" >
              <h2 mat-subheader>{{cat.key | word | titlecase}}</h2>
              <ng-container *ngFor="let course of cat.value">
                <mat-list-item *ngIf="course.isReady">
                  <mat-checkbox (change)="clicked(course, $event.checked)" value="{{course.title}}">{{course.title}}</mat-checkbox>
                   <p mat-line> {{folder.updated | date}} </p> estovacomentado 
                </mat-list-item>
              </ng-container>
              <mat-divider></mat-divider>
            </ng-container> -->
            
          <!-- </mat-list>
        </form> -->
        </div>
        <div>
          <button mat-flat-button color="primary" matStepperPrevious>Anterior</button>
          <button mat-flat-button color="primary" matStepperNext>Siguiente</button>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Listo</ng-template>
      <button mat-raised-button color="accent" (click)="register()">Registrate</button>
    </mat-step>
  </mat-vertical-stepper>
