    .container {
        margin: 20px;
    }

    table {
        width: 100%;
    }

    table.mat-table {
        background-color:#3B3D62;
    }

    .mat-slide-toggle {
        color: #ffffff;
      }

    input {
        color: #ffffff;
    }