<div class="courses">
    <div class="card">
      <ng-container *ngFor= "let course of coursesJ1">
        <mat-accordion  *ngIf="course.isReady">
          <mat-expansion-panel [disabled]="!course.isReady">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{course.title}}
              </mat-panel-title>
              <mat-panel-description>
                {{course.subject}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul class="course-category">
              <li  [class]="'course-category-'+course.category" *ngFor= "let content of course.content">{{content}}</li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
    </div>
    <div class="card">
      <ng-container *ngFor= "let course of coursesJ2" >
        <mat-accordion *ngIf="course.isReady">
          <mat-expansion-panel [disabled]="!course.isReady">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{course.title}}
              </mat-panel-title>
              <mat-panel-description>
                {{course.subject}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul class="course-category">
              <li  [class]="'course-category-'+course.category" *ngFor= "let content of course.content">{{content}}</li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
    </div>
    <div class="card">
      <ng-container *ngFor= "let course of coursesJ3">
        <mat-accordion *ngIf="course.isReady">
          <mat-expansion-panel [disabled]="!course.isReady">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{course.title}}
              </mat-panel-title>
              <mat-panel-description>
                {{course.subject}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul class="course-category">
              <li  [class]="'course-category-'+course.category" *ngFor= "let content of course.content">{{content}}</li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
    </div>
  </div>