<section id="nav">
  <mat-toolbar color="">
    <mat-toolbar-row>
      <span>Private Source</span>
    </mat-toolbar-row>
  </mat-toolbar>
</section>
<section id="parallax">
  <div class="banner"></div>
  <div class="covertext">
    <div class="col-lg-10" style="float:none; margin:0 auto;">
      <h1 class="title">Sin Nombre</h1>
      <h3 class="subtitle">Aqui no se que poner</h3>
    </div>
    <div class="col-xs-12 explore">
      <a href="#"><button type="button" class="btn btn-lg explorebtn">Empieza Ahora</button></a>
    </div>
  </div>
</section>
<section id="courses">
  <div class="courses">
    <div class="card" *ngFor= "let course of coursesJ; let i = index">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             [disabled]="!course.isReady">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{course.title}}
            </mat-panel-title>
            <mat-panel-description>
              {{course.subject}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul>
            <li class="course-content" *ngFor= "let content of course.content">{{content}}</li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</section>