<!-- <div class="container">
    <div class="info">
        <h1> New Course</h1>
        <span> lorem</span>
    </div>

    <div class="column">
        <div class="demo-title">Normal</div>
        <div class="post-module">
            <div class="thumbnail">
                <div class="date">
                    <div class="day">27</div>
                    <div class="month">Mar</div>
                </div>
                <img src="../../assets/images/521031.jpg" alt="De Cero a Objeto">
            </div>
            <div class="post-content">
                <div class="category">Photos</div>
                <h1 class="title">De Cero A Objeto</h1>
                <h2 class="sub_title">Aqui va el sub titulo</h2>
                <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error repudiandae nisi repellat quo possimus fugit veritatis facilis voluptatibus vitae. Accusamus fugiat voluptas libero veniam ea eos facilis sint dicta debitis?</p>
                <div class="post-meta">
                    <span class="timestamp">
                        <i class="fa fa-clock-o">| 6 mins ago</i>
                    </span>
                    <span class="comments">
                        <i class="fa fa-comments"></i>
                        <a href="#">39 comments</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="demo-title">Hover</div>
        <div class="post-module hover">
            <div class="thumbnail">
                <div class="date">
                    <div class="day">27</div>
                    <div class="month">Mar</div>
                </div>
                <img src="../../assets/images/521031.jpg" alt="De Cero a Objeto">
            </div>
            <div class="post-content">
                <div class="category">Photos</div>
                <h1 class="title">De Cero a Objeto</h1>
                <h2 class="sub_title">Aqui va el sub titulo</h2>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore rem labore quam eum quos quae voluptates magni maiores quia eos minima veniam similique, quasi iusto ullam odit vitae mollitia ex!</p>
                <div class="post-meta">
                    <span class="timestamp">
                        <i class="fa fa-clock-o">6 mins ago</i>
                        <span class="comments">
                            <i class="fa fa-comments"></i>
                            <a href="#">339 comments</a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="course-module">
        <mat-card>
            <div class="thumbnail">
                <div class="date">
                    <div class="day">27</div>
                    <div class="month">Enero</div>
                </div>
                
            </div>
            <div class="course-content">
                <div class="category">Programación Orientada a Objetos</div>
                <h1 class="title">De Cero a Objeto</h1>
                <h2 class="sub_title">Curso de Saberes Previos</h2>
                <p class="description">Este curso está pensado para acreditar tu examen de Saberes Previos de Programación Orientada a Objetos, </p>
                <div class="course-meta">
                    <span class="timestamp">
                        <i class="fa fa-clock-o">{{courseDate |date | timeAgo}}</i>
                        <span class="actions">
                            <button mat-raised-button color="primary" mat-button routerLink="/sign-in-special">Registrate</button>
                        </span>
                        <mat-chip-list class="warns">
                            <mat-chip color="accent">Cierra en {{message}} horas</mat-chip>
                        </mat-chip-list>
                    </span>
                </div>
            </div>
        </mat-card>
    </div>
</div>