/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 
background-color: #202135;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.mat-snack-bar-container {
    background-color: #c2185b;
    color: #ffffff;
}

.mat-button-toggle-label-content {
    line-height: normal !important; 
    white-space: normal;
    word-break: break-all;
    line-height: normal;

}

.mat-dialog-container {
    background-color: #3B3D62;
}

@media only screen and (min-width:360px) and (max-width:900px){
    .cdk-overlay-pane {
      width: 90vw !important;
  }

  }