<header class="cd-intro">
	<h1>Schedule Template</h1>
</header>
<div class="cd-schedule loading">
	<div class="timeline">
		<ul>
			<li><span>08:00</span></li>
			<li><span>08:30</span></li>
			<li><span>09:00</span></li>
			<li><span>09:30</span></li>
			<li><span>10:00</span></li>
			<li><span>10:30</span></li>
			<li><span>11:00</span></li>
			<li><span>11:30</span></li>
			<li><span>12:00</span></li>
			<li><span>12:30</span></li>
			<li><span>13:00</span></li>
			<li><span>13:30</span></li>
			<li><span>14:00</span></li>
			<li><span>14:30</span></li>
			<li><span>15:00</span></li>
			<li><span>15:30</span></li>
			<li><span>16:00</span></li>
			<li><span>16:30</span></li>
			<li><span>17:00</span></li>
		</ul>
	</div> <!-- .timeline -->

	<div class="events">
		<ul>
			<li class="events-group">
				<div class="top-info"><span>Lunes</span></div>

				<ul>

				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Martes</span></div>

				<ul>
					
				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Miercoles</span></div>

				<ul>

				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Jueves</span></div>

				<ul>

				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Viernes</span></div>

				<ul>

				</ul>
			</li>
		</ul>
	</div>


	<div class="cover-layer"></div>
</div> <!-- .cd-schedule -->

